* @print3git

# Frontend HTML files
/*.html @web-team

# Backend code
/backend/* @your-org/backend-team

# Frontend source code
/frontend/* @your-org/frontend-team


# GitHub workflows
.github/workflows/ @devops-team
